# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
/build

/code2snippets.iml
/code2snippets.ipr
/code2snippets.iws
/code2snippets.main.iml
/code2snippets.test.iml
/out
